.btn-white {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  margin: 16px;
  padding: 4px 8px;
  color: gray;
  border: 2px solid lightgray;
  opacity: 0;
}
