.card-container {
  margin: 32px;
  width: 300px;
}

.card-white {
  background-color: white;
  padding: 16px;
}

.card-image {
  height: 200px;
  width: 100%;
  background-size: cover;
}

.card-profile {
  padding-top: 16px ;
  display: flex;
  align-items: center;
}

.card-profile a {
  margin-left: 16px;
}

.card-white .btn-white {
  transition: opacity .3s;
}

.card-white:hover .btn-white {
  opacity: 1;
}

.cards {
  display: flex;
}
